$box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
$button_box_shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
$transition: 0.8s cubic-bezier(0.22, 0.78, 0.45, 1.02);
$sm_border_radius: 15px;
$md_border_radius: 30px;
$lg_border_radius: 60px;
$xlg_border_radius: 280px;
$vertical_40_gap: 0 40px;
$vertical_30_gap: 0 30px;
$vertical_20_gap: 0 20px;
$vertical_10_gap: 0 10px;
